# Have editor/IDE/OS specific files you need to ignore? Consider using a global gitignore:
#
# * Create a file at ~/.gitignore
# * Include files you want ignored
# * Run: git config --global core.excludesfile ~/.gitignore
#
# After doing this, these files will be ignored in all your git projects,
# saving you from having to 'pollute' every project you touch with them
#
# Not sure what to needs to be ignored for particular editors/OSes?
# Here's some ideas to get you started. (Remember, remove the leading # of the line)#####
#
# For MacOS:
#
#.DS_Store

# For TextMate
#*.tmproj
#tmtags

# For emacs:
#*~
#\#*
#.\#*

# For vim:
*.swp

# For redcar:
#.redcar
#########################################################################################

# Ignore all logfiles and tempfiles (stackprof).
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Frontend
/public/assets

/public/er/packs
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/public/uploads

# Ignore master key for decrypting credentials and more.
/config/master.key

# For dotenv
.env

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore Postgresql database logs.
pg_upgrade_internal.log
pg_upgrade_server.log
pg_upgrade_utility.log

# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle
Gemfile.lock
Gemfile.local
gems.locked

# rbenv
.ruby-version

# rspec
/spec/examples.txt
/.test_queue_stats

# jeweler generated
pkg

# etags
TAGS

# byebug
.byebug_history

# For rubinius:
#*.rbc

# For bundle binstubs
bin/*
!bin/rubocop-profile

# Reports generated by the app
payloads/*.json
lib/*.html
